.wrapper {
    max-width: 1200px;
    margin: 1.5rem auto;
    text-align: center;
}

.links {
    display: flex;
    justify-content: space-around;
}

.post {
    width: 100%;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 2rem;
    border: 1px solid #fff;
}